{% extends "layout.html" %}

{% block content %}
<div class="entry-list single">
    <article>
        <h1>{{ entry.title }}</h1>
        <time datetime="{{ entry.date }}">{{ entry.date.strftime('%B %d, %Y') }}</time>
        <div class="entry">
            <h3>Time Spent: </h3>
            <p>{{ entry.time_spent }}</p>
        </div>
        <div class="entry">
            <h3>What I Learned:</h3>
            {% set paragraphs = entry.what_i_learned.split('\n') %}
            {% for paragraph in paragraphs %}
                <p>{{ paragraph }}</p>
            {% endfor %}
        </div>
        
        <div class="entry">
            <h3>Resources to Remember:</h3>
            {% if entry.resources_to_remember %}
            {% set resources = entry.resources_to_remember.split('\n') %}
            <ul>
            {% for resource in resources %}
                <li>{{ resource }}</li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        
    </article>
</div>

<div class="edit">
    <p><a href="{{ url_for('entry', entry_id=entry.id) }}" class="button">Edit Entry</a></p>
</div>
{% endblock %}