{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="entry-list">
    {% if current_user.is_authenticated %}
        {% if entries %}
            {% for entry in entries %}
            <article>
                <h2><a href="">{{ entry.title }}</a></h2>
                <time datetime="{{ entry.date }}">{{ entry.date.strftime('%B %d, %Y') }}</time>
            </article>
            {% endfor %}
        {% else %}
            <article>
                <h2>No Entries...</h2>
                <p>You'd better get journaling!</p>
            </article>
        {% endif %}
    {% else %}
    <article>
        <h2>Welcome to Learning Journal</h2>
        <p>Register or Log in to get started!</p>
    </article>
    {% endif %}
    </div>
</div>
{% endblock %}