{% extends "layout.html" %}
{% from "macros.html" import render_entries_list %}

{% block content %}
    <div class="entry-list">
    {% if current_user.is_authenticated %}
        {{ render_entries_list(entries, limit=5) }}
        {% if entries.count() > 5 %}
            <a href="{{ url_for('list') }}" class="button button-secondary">More Entries</a>
        {% endif %}
    {% else %}
    <article>
        <h2>Welcome to Learning Journal</h2>
        <p>Register or Log in to get started!</p>
    </article>
    {% endif %}
    </div>
{% endblock %}
