{% macro render_field(field) %}
	{% if field.errors %}
		<div class="u-full-width field-errors">
		  <ul>
		    {% for error in field.errors %}
		    <li>{{ error }}</li>
		    {% endfor %}
		  </ul>
		</div>
	{% endif %}
	{{ field.label }}
	{{ field() }}
{% endmacro %}


{% macro render_entries_list(entries, limit=None) %}
	{% if entries %}

		{% if limit %}
			{% set entries = entries[:limit] %}
		{% endif %}

        {% for entry in entries %}
        <article>
            <h2><a href="{{ url_for('details', entry_id=entry.id) }}">{{ entry.title }}</a></h2>
            <time datetime="{{ entry.date }}">{{ entry.date.strftime('%B %d, %Y') }}</time>
        </article>
        {% endfor %}

    {% else %}
        <article>
            <h2>No Entries...</h2>
            <p>You'd better get journaling!</p>
        </article>
    {% endif %}
{% endmacro %}